**Задание 1**

Скачайте с сайта 
https://grouplens.org/datasets/movielens/
датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
ratings = pd.read_csv('/content/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
ratings.info()

In [ ]:
# 1 способ
max_rate = ratings[ratings['rating'] == 5.0][['movieId', 'rating']].groupby('movieId').count().\
sort_values('rating', ascending=False)
max_rate

In [15]:
# 2 способ
max_rate = ratings[ratings['rating'] == 5.0][['movieId', 'rating']].value_counts()
max_rate = pd.DataFrame(max_rate)

In [5]:
movies = pd.read_csv('/content/ml-latest-small/movies.csv')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [16]:
joined = max_rate.merge(movies, on='movieId', how='left')
joined.head(1)

   movieId    0                             title       genres
0      318  153  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2**

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [17]:
power = pd.read_csv('/content/power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
power.info()

In [19]:
df = power[power['country'].isin(['Latvia', 'Estonia', 'Lithuania'])]\
[power['quantity']>0][power['category'].isin([4, 12, 21])]
sum(df['quantity'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

970728.0

**Задание 3**

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [21]:
table = pd.read_html('https://fortrader.org/quotes')

In [22]:
table[1]

                              Название    Цена  ...  Изменение(%)  Обновлено
0       Нефть Brent Курс нефти сегодня   72.40  ...          0.17        NaN
1          Нефть WTI Цены на нефть WTI   70.35  ...         -0.06        NaN
2  Природный газ Цена на природный газ    4.07  ...          0.00        NaN
3                                 Кофе  177.65  ...          1.14        NaN
4                             Кукуруза  550.40  ...         -0.11        NaN
5                                  Соя  347.50  ...         -0.11        NaN
6                               Хлопок   90.25  ...          0.41        NaN

[7 rows x 5 columns]

In [23]:
# Для себя игрался
import re
strg = list(dict(table[1]['Название']).values())
table[1][['Название', 'Цена']][(table[1]['Название']=='Кукуруза')|(table[1]['Название']=='Хлопок')|\
(table[1]['Название']==re.findall(r'\w+', strg[5])[0])]

   Название    Цена
4  Кукуруза  550.40
5       Соя  347.50
6    Хлопок   90.25