**Задание 1**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv('/content/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [1]:
def find_class(df):
    if df <= 2:
        return 'Низкий рейтинг'
    elif df <= 4:
        return 'Средний рейтинг'
    elif (df == 4.5)|(df == 5):
        return 'Высокий рейтинг'

In [4]:
ratings['class'] = ratings['rating'].apply(find_class)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

**Задание 2**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

```
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
```

Результат классификации запишите в отдельный столбец region.

In [ ]:
keywords = pd.read_csv('/content/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   keyword  100000 non-null  object
 1   shows    100000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [ ]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [ ]:
def find_region(df, geo_data=geo_data):
    '''
    поиск и присвоение региона (region) запросу, при наличии соответствующего названия города (geo_data) в запросе
    не учтены - склонения городов, возможность встречи нескольких городов, опечатки и т.п.
    '''
    for reg, city in geo_data.items():
        if set(df['keyword'].lower().split(' '))&set(city) != set():
            return reg
            break
    return 'undefined'

In [ ]:
# Для тестировки
row = {'id':0, 'keyword':'тула', 'shows':64292779}
s = find_region(row)
s

'Центр'

In [ ]:
keywords['region'] = keywords.apply(find_region, geo_data=geo_data, axis=1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

**Задание 3 (бонусное)**

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

1. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

    1. для каждой строки пройдите по всем годам списка years
    1. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    1. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
1. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

1. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [ ]:
movies = pd.read_csv('/content/movies.csv')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   title    9125 non-null   object
 2   genres   9125 non-null   object
dtypes: int64(1), object(2)
memory usage: 214.0+ KB

In [ ]:
years = range(1950, 2011)

In [ ]:
import re

In [ ]:
def production_year(df, years=years):
    year_strg = []
    year_strg = re.findall(r'\((\d{4})\)', df)
    if (year_strg != []) and (int(year_strg[0]) in years): #важно чтобы последовательность логических параметров была такой, иначе может выйти ошибка 'Out of range'
        return int(year_strg[0])
    return 1900

In [ ]:
# Для тестировки
df = 'dfdffdfd (1954 ) (2000)ss'
year_strg = re.findall(r'\((\d{4})\)', df)
print(type(year_strg[0]))
if int(year_strg[0]) in years:
    print(year_strg)

<class 'str'>
['2000']

In [ ]:
movies['year'] = movies['title'].apply(production_year)
movies.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [ ]:
ratings = pd.read_csv('/content/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
# https://newtechaudit.ru/pandas-merge-join-concatenate/ выбирал что лучше
film = ratings.merge(movies, how='left', left_on='movieId', right_on='movieId')
film.groupby(by='year').mean()[['rating']].sort_values(by='rating', ascending=False)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.355945

[62 rows x 1 columns]